* {
  font-family: "Lucida Console";
}


div {
 display: inline;
}

.Top {
   background-color: #13122c;
   color: white;
   height: 50%;
   
    display: inline-block;
    width: 100%;
    border-style: solid;
}

nav {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding-left: 20%;
  padding-right: 0%;
  background-color: #13122c;

}

h1 {
  
  padding-left: 10%;
}

h2 {
  padding-left: 20%;
}



ul {
    list-style-type: none;
    margin: 0;
    margin-left: 40%;
    padding: 0;
    overflow: hidden;
    color: white;
  
}
li {
  float: left;
  right: 0%;
  color: white;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ff6600;
}

footer ul {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 40%;
}

footer li {
  margin: .5%;
}

footer li a {
  color: black;
}